.input-frase
{
    background-color: transparent !important;
    border: solid white !important;
    border-radius: 10px !important;
    padding: 10px !important;
}

#input-busqueda
{
    font-size: 25px;
}

#input-frase
{
    font-size: 25px;
}

.boton-guardar
{
    border: none !important;
}

.boton-guardar:hover
{
    background-color: transparent;
    color: white;
}

.boton-guardar:active
{
    background-color: transparent !important;
    color: white !important;
}