/* Modo Claro */
:root {
    --color-fondo: #ffffff;
    --color-texto-principal: #000000;
    --color-texto-secundario: #333;
    --color-fondo-elementos: #ffffff;
    --color-fondo-div: #0d6efd;
    --color-icono:  #212121;
    --color-bordes: #dee2e6;
    --color-enlaces: #2600ff;
    --color-hover: #F5F5F5;
    --color-placerholder: #333;
    --color-icon-secundario: #ffffff;
    --color-icon-principal: #000000;
}

  /* Modo Oscuro */
[data-theme="dark"] {
    --color-fondo: #121212;
    --color-texto-principal: #ffffff;
    --color-texto-secundario: #B3B3B3;
    --color-fondo-elementos: #1E1E1E;
    --color-fondo-div: #0d6efd;
    --color-icono:  #E0E0E0;
    --color-bordes: #333333;
    --color-enlaces: #2600ff;
    --color-hover: #1E1E1E;
    --color-placerholder: #B3B3B3;
    --color-icon-secundario: #ffffff;
    --color-icon-principal: #B3B3B3;
}

  /* Modo Alto Contraste */
[data-theme="high-contrast"] {
    --color-fondo: #000000;
    --color-texto-principal: #FFFF00;
    --color-texto-secundario: #000000;
    --color-fondo-elementos: #18d0ff;
    --color-fondo-div: #18d0ff;
    --color-icono:  #FFFF00;
    --color-bordes: #FFFF00;
    --color-enlaces: #FFFFFF;
    --color-hover: #FFFF00;
    --color-placerholder: #18d0ff;
    --color-icon-secundario: #ffffff;
    --color-icon-principal: #FFFF00;
}


body {
    background-color: var(--color-fondo);
    color: var(--color-texto-principal);
}

a {
    color: var(--color-enlaces);
}

button {
    background-color: var(--color-fondo-elementos);
    color: var(--color-icon-principal);
    border: 1px solid var(--color-bordes);
}
.accordion-button{
    background-color: var(--color-fondo-elementos);
    color: var(--color-icon-principal);
    border: 1px solid var(--color-bordes);
}
.accordion-item{
    background-color: var(--color-fondo);
    color: var(--color-texto-principal);
}

a:hover {
    background-color: var(--color-hover);
}



h1,h2,h3,h4
{
    color: var(--color-texto-principal) !important;
}

.icon-principal
{
    color: var(--color-icon-principal) !important;
    cursor: pointer; 
}


.icon-secundario
{
    color: var(--color-icon-secundario) !important;
    cursor: pointer; 
}

input
{
    background-color: var(--color-fondo-principal)  !important;
    color: var(--color-texto-principal) !important;
    border: 1px solid var(--color-bordes) !important;
}

/* button:hover
{
    background-color: var(--color-hover) !important; 
    border-radius: 10px;
    color: var(--color-texto-secundario) !important;
    cursor: pointer; 

} */

#input-busqueda
{
    background-color: var(--color-fondo-principal)  !important;
    color: var(--color-texto-hover) !important;
    border: 1px solid var(--color-bordes) !important;
}

input::placeholder
{
    color: var(--color-placerholder) !important;
}

.card{
    background-color: var(--color-fondo)  !important;
    border: 1px solid var(--color-bordes) !important;
}

.card-title{
    color: var(--color-texto-principal) !important;
}

.card-header{
    color: var(--color-texto-principal) !important;
}

label
{
    color: var(--color-texto-principal) !important;
}

.modal-content
{
    background-color: var(--color-fondo)  !important;
    color: var(--color-texto-principal) !important;
    border: 1px solid var(--color-bordes) !important;
}

.dropdown-menu
{
    background-color: var(--color-fondo)  !important;
    color: var(--color-texto-principal) !important;
    border: 1px solid var(--color-bordes) !important;
}

select
{
    background-color: var(--color-fondo-elementos)  !important;
    color: var(--color-texto-secundario) !important;
    border: 1px solid var(--color-bordes) !important;
}