/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    position: relative; /* Necesario para posicionar el botón */

}

.container {
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 5em;
    color: #333;
}

.header p {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 1em;
}

.help-button {
    position: absolute;
    top: 10px; 
    right: 10px;
    color: #333;
    border: none;
    background-color: transparent;
    font-size: 5em;
    cursor: pointer;
}

.start-button {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 6em;
    padding: 10px 20px;
    border: 2px solid #333;
    background-color: transparent;
    cursor: pointer;
}
