
.navbar {
    position: relative;
}

.navbar-text {
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    font-family: "Comic Sans MS", sans-serif;
    color: #333;
}

.navbar-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 1.5em;
    color: #333;
    border: none;
    font-size: 4rem;
    background-color: transparent;
}

@media (max-width: 600px) {
    .navbar-text {
        position: relative;
        top: 9rem; 
    }
    .navbar-btn {
        position: static; 
        display: block;
        margin: 0 auto 10px; 
    }
}